In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [4]:
df=pd.read_csv("website_data.csv",header=1)

In [5]:
df.sample(5)

,Session primary channel group (Default channel group),Date + hour (YYYYMMDDHH),Users,Sessions,Engaged sessions,Average engagement time per session,Engaged sessions per user,Events per session,Engagement rate,Event count
1567,Organic Search,2024042123,42,53,27,35.54717,0.642857,3.320755,0.509434,176
476,Organic Social,2024050117,71,88,52,59.62500,0.732394,5.488636,0.590909,483
2219,Organic Search,2024050101,24,30,18,27.90000,0.750000,4.200000,0.600000,126
2806,Unassigned,2024042814,2,2,0,99.50000,0.000000,4.500000,0.000000,9
3170,Organic Video,2024050121,0,1,0,0.00000,0.000000,2.000000,0.000000,2

In [6]:
df.columns

Index(['Session primary channel group (Default channel group)',
       'Date + hour (YYYYMMDDHH)', 'Users', 'Sessions', 'Engaged sessions',
       'Average engagement time per session', 'Engaged sessions per user',
       'Events per session', 'Engagement rate', 'Event count'],
      dtype='object')

In [7]:
df.rename(columns={
    'Session primary channel group (Default channel group)': 'channel_group',
    'Date + hour (YYYYMMDDHH)': 'datetime',
    'Users': 'users',
    'Sessions': 'sessions',
    'Engaged sessions': 'engaged_sessions',
    'Average engagement time per session': 'avg_engagement_time',
    'Engaged sessions per user': 'engaged_sessions_per_user',
    'Events per session': 'events_per_session',
    'Engagement rate': 'engagement_rate',
    'Event count': 'event_count'
}, inplace=True)

In [8]:
df.sample(3)

,channel_group,datetime,users,sessions,engaged_sessions,avg_engagement_time,engaged_sessions_per_user,events_per_session,engagement_rate,event_count
373,Organic Social,2024042718,75,102,43,25.843137,0.573333,3.911765,0.421569,399
1447,Direct,2024041207,44,50,26,83.200000,0.590909,3.820000,0.520000,191
777,Organic Search,2024041412,60,66,40,36.378788,0.666667,4.227273,0.606061,279

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   channel_group              3182 non-null   object
 1   datetime                   3182 non-null   int64
 2   users                      3182 non-null   int64
 3   sessions                   3182 non-null   int64
 4   engaged_sessions           3182 non-null   int64
 5   avg_engagement_time        3182 non-null   float64
 6   engaged_sessions_per_user  3182 non-null   float64
 7   events_per_session         3182 non-null   float64
 8   engagement_rate            3182 non-null   float64
 9   event_count                3182 non-null   int64
dtypes: float64(4), int64(5), object(1)
memory usage: 248.7+ KB

In [11]:
df['datetime']=pd.to_datetime(df['datetime'],format="%Y%m%d%H")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   channel_group              3182 non-null   object
 1   datetime                   3182 non-null   datetime64[ns]
 2   users                      3182 non-null   int64
 3   sessions                   3182 non-null   int64
 4   engaged_sessions           3182 non-null   int64
 5   avg_engagement_time        3182 non-null   float64
 6   engaged_sessions_per_user  3182 non-null   float64
 7   events_per_session         3182 non-null   float64
 8   engagement_rate            3182 non-null   float64
 9   event_count                3182 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 248.7+ KB

In [18]:
df['hour']=df['datetime'].dt.hour

In [28]:
df.isnull().sum()

channel_group                0
datetime                     0
users                        0
sessions                     0
engaged_sessions             0
avg_engagement_time          0
engaged_sessions_per_user    0
events_per_session           0
engagement_rate              0
event_count                  0
hour                         0
dtype: int64

In [29]:
df.duplicated().sum()

0

In [32]:
df.describe()

,datetime,users,sessions,engaged_sessions,avg_engagement_time,engaged_sessions_per_user,events_per_session,engagement_rate,event_count,hour
count,3182,3182.000000,3182.000000,3182.000000,3182.000000,3182.000000,3182.000000,3182.000000,3182.000000,3182.000000
mean,2024-04-20 01:17:07.278441216,41.935889,51.192646,28.325581,66.644581,0.606450,4.675969,0.503396,242.272470,11.807040
min,2024-04-06 00:00:00,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,2024-04-13 02:15:00,20.000000,24.000000,13.000000,32.103034,0.561404,3.750000,0.442902,103.000000,6.000000
50%,2024-04-20 02:00:00,42.000000,51.000000,27.000000,49.020202,0.666667,4.410256,0.545455,226.000000,12.000000
75%,2024-04-26 22:00:00,60.000000,71.000000,41.000000,71.487069,0.750000,5.217690,0.633333,339.000000,18.000000
max,2024-05-03 23:00:00,237.000000,300.000000,144.000000,4525.000000,2.000000,56.000000,1.000000,1402.000000,23.000000
std,NaN,29.582258,36.919962,20.650569,127.200659,0.264023,2.795228,0.228206,184.440313,6.886686